<h2 class="text-center w-full">SOFT SKILLS</h2>
<ul>
    @for (softskill of softSkills; track $index) {
        <li>
            {{ softskill.detail }}
        </li>
    }
</ul>
<!-- <ul [style.tree]="isTree">
    <li class="parent" [class.parent]="isParent">
        <p>Communication</p>
        <p>Details about communication skills</p>
    </li>
    <li class="parent" [class.parent]="isParent">
        <p>Leadership</p>
        <p>Details</p>
    </li>
    <li class="parent" [class.parent]="isParent">
        <p>Solving Problem</p>
        <p>A softskill because you have to understand the literature of the problem you're trying to solve, which requires patience and which is a soft skill</p>
    </li>
    <li class="parent" [class.parent]="isParent">
        <p>Modeling Data</p>
        <p>Details about data modeling</p>
    </li>
</ul> -->

<!-- <h2>SOFT SKILLS</h2>
<ul [style.tree]="isTree">
    <li class="parent" [class.parent]="isParent">
        <h4>Soft Skills</h4>
    </li>
    <li class="parent" [class.parent]="isParent">
        <details>
            <summary>Communication</summary>
            <ul>
                <li>Details about communication skills</li>
            </ul>
        </details>Communication</li>
    <li class="parent" [class.parent]="isParent">Leadership</li>
    <li class="parent" [class.parent]="isParent">Solving Problem</li>
    <li class="parent" [class.parent]="isParent">Modeling Data</li>
</ul> -->

