<aside class="h-full bg-purple-950 text-purple-300 pt-2 lg:pt-4 xl:pt-6">
    <nav>
        <header>ON THIS PAGE</header>
        <ul class="list-disc list-inside">
            @for (title of sectionTitles; track $index) {
                <li class="py-1 lg:py-3">
                    <a
                    [routerLink]="[projectName, projectScope]"
                    routerLinkActive="activebutton"
                    [fragment]="title"> 
                        {{ title | titlecase }}
                    </a>
                </li>
            }
        </ul>
    </nav>
</aside>
