<div class="grid grid-cols-1 lg:grid-cols-5 xl:grid-cols-6 h-dvh gap-2 lg:justify-items-stretch">
    @if (projects) {
        <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-purple-300 rounded-lg lg:hidden hover:bg-purple-200 focus:outline-none focus:ring-2 focus:ring-cab-sav-300">
            <span class="sr-only">Open sidebar</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
            </svg>
         </button>
        <nav class="h-full col-span-1 pt-2 lg:pt-4 xl:pt-6 justify-self-center bg-purple-950 text-purple-300">
            <header>
                <h1 class="font-semibold">PROJECTS</h1>
            </header>
            @for (project of projects; track $index) {
                <details name="project">
                    <summary>
                        <h2> {{ project.name | fromKebab | titlecase }} </h2>
                    </summary>
                    <ul class="list-inside">
                        <li class="py-1 lg:py-2">
                            <a [routerLink]="['/projects', project.name, 'why']">Why</a>
                        </li>
                        <li class="py-1 lg:py-3">
                            <a [routerLink]="['/projects', project.name, 'how']">How</a>
                        </li>
                        <li class="py-1 lg:py-3">
                            <a [href]="project.link" target="_blank"> Try {{ project.name }} </a>
                        </li>

                    </ul>
                </details>
            }
        </nav>
        <div class="lg:col-span-4 xl:col-span-5">
            <router-outlet (activate)="assignProjectData($event)"/>
        </div>
    }
</div>