details {
  padding: 10px;
}

summary {
  list-style-position: outside;
  margin-left: 15px;
  padding: 5px 5px 5px 10px;
  border-radius: 5px;
}

summary::marker {
  color: #ffccdb;
  font-size: 1.2em;
}

