<div class="flex flex-col px-8 py-8 mx-auto my-auto md:justify-content-center gap-y-4 bg-purple-950">
    <div class="text-3xl lg:text-4xl xl:text-5xl font-bold text-center text-purple-200">
        <h1>PROJECTS</h1>
    </div>
    <div class="grid grid-cols-1 md:grid md:grid-cols-1 lg:grid lg:grid-cols-2 gap-10 lg:gap-5">
        @if (projects) {
            @for(project of projects; track project) {
                <div class="flex flex-col items-center bg-purple-300 rounded-lg shadow min-w-full">
                    @if (project.demo_type == demoType.IMAGE || project.demo_type == demoType.GIF) {
                        <img [src]="project.demo" [alt]="'Demo for ' + project.name" class="aspect-video object-cover w-full h-96 md:h-auto md:w-auto md:border-t-4 md:border-x-4 md:border-purple-200 md:hover:border-cab-sav-300"/>
                    } @else if (project.demo_type == demoType.VIDEO) {
                        <video controls [src]="project.demo" class="aspect-video object-cover w-full h-96 md:h-auto md:w-auto md:border-t-4 md:border-x-4 md:border-purple-200 md:hover:border-cab-sav-300"></video>
                    }
                    <div>
                        <div class="flex flex-col justify-between p-4 leading-normal bg-purple-400 lg:bg-purple-300 dark:bg-purple-200 hover:bg-purple-400 hover:text-cab-sav-200 md:border-x-4 md:border-purple-200 md:hover:border-cab-sav-200">
                            <a [href]="project.link">
                                <h4 class="mb-2 text-2xl font-bold tracking-tight text-cab-sav-950 hover:text-cab-sav-200 text-center"> {{ project.title | uppercase}} </h4>
                            </a> 
                            <p class="mb-3 font-normal text-cab-sav-950 text-center"> {{ project.description }} <br></p>
                            <span class="grid grid-cols-1 gap-y-4 md:gap-y-0 sm:justify-items-center md:grid md:grid-cols-2">
                                <a [routerLink]="['/projects', project.name, 'why']">
                                    <button type="button" class="px-3 py-2 text-xs md:text-sm font-medium text-center md:text-justify md:inline-flex md:flex-nowrap md:justify-self-start hover:md:underline md:underline-offset-auto text-cab-sav-200 md:text-cab-sav-950 md:hover:text-cab-sav-200 rounded-md md:bg-transparent bg-purple-600 dark:bg-purple-200 focus:ring-2 md:focus:ring-0 focus:ring-purple-950 dark:focus:ring-purple-200">
                                        <span class="inline-flex flex-nowrap items-center">
                                            <p>Read about {{ project.name | titlecase }}</p>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" viewBox="0 0 24 24">
                                                <path fill="none" stroke="currentColor" stroke-dasharray="10" stroke-dashoffset="10" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12l-5 -5M15 12l-5 5">
                                                    <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.3s" values="10;0" />
                                                </path>
                                            </svg>
                                        </span>
                                    </button>
                                </a>
                                <button type="button" class="px-3 py-2 text-xs md:text-sm font-medium text-center md:text-justify md:inline-flex md:flex-nowrap md:justify-self-end hover:md:underline md:underline-offset-auto text-cab-sav-200 md:text-cab-sav-950 md:hover:text-cab-sav-200 rounded-md md:bg-transparent bg-purple-600 dark:bg-purple-200 focus:ring-2 md:focus:ring-0 focus:ring-purple-950 dark:focus:ring-purple-200">
                                    <span class="inline-flex flex-nowrap items-center gap-x-2">
                                        <p>Try {{ project.name | titlecase }}</p>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" viewBox="0 0 24 24">
                                            <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                                <path stroke-dasharray="48" stroke-dashoffset="48" d="M11 5h-6v14h14v-6">
                                                    <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="48;0" />
                                                </path>
                                                <path stroke-dasharray="12" stroke-dashoffset="12" d="M13 11l7 -7">
                                                    <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.6s" dur="0.2s" values="12;0" />
                                                </path>
                                                <path stroke-dasharray="8" stroke-dashoffset="8" d="M21 3h-6M21 3v6">
                                                    <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.8s" dur="0.2s" values="8;0" />
                                                </path>
                                            </g>
                                        </svg>
                                    </span>
                                </button> 
                            </span>
                        </div> 
                    </div>
                    <div class="flex flex-col w-full bg-purple-800 text-purple-200 font-mono border-b-4 md:border-x-4 md:border-purple-200 md:hover:border-cab-sav-200">
                        <div class="p-4 sm:text-xl md:text-base">
                            <p>TECHNOLOGIES</p>
                            <ol class="inline-flex flex-wrap gap-5 md:gap-10 min-w-full justify-start">
                                {{ project.technologies.join(' | ') }}
                            </ol>
                        </div>
                    </div>
                </div>   
            } @empty {
                <li>There are no projects to dispay.</li>
            }
        }
    </div>
</div>
